server:
  port: 8081

spring:
  application:
    name: trade-service

  # --- DATABASE (Reactive R2DBC) ---
  r2dbc:
    url: r2dbc:postgresql://localhost:5432/omnis_db
    username: user
    password: password

  sql:
    init:
      mode: always

axon:
  axonserver:
    servers: localhost:8124
  distributed:
    enabled: true

management:
  endpoints:
    web:
      exposure:
        include: health,info,prometheus,metrics

  # --- OBSERVABILITY (Tracing & Metrics) ---
  tracing:
    sampling:
      probability: 1.0
    propagation:
      type: w3c

  otlp:
    tracing:
      endpoint: http://localhost:4318/v1/traces
    metrics:
      export:
        url: http://localhost:4318/v1/metrics
        enabled: true
        step: 10s

logging:
  level:
    root: INFO
    io.opentelemetry: INFO
    org.axonframework: INFO
    org.springframework.r2dbc: DEBUG