server:
  port: 8080

spring:
  application:
    name: gateway-service

  cloud:
    gateway:
      routes:
        - id: core-service-route
          uri: http://localhost:8081
          predicates:
            - Path=/api/v1/trades/**

management:
  endpoints:
    web:
      base-path: /actuator
      exposure:
        include: health,info,prometheus

  endpoint:
    health:
      show-details: never

  metrics:
    enable:
      all: true

  tracing:
    sampling:
      probability: 1.0